*{
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  width: 100%;
  height: 600px ;
}


.navbar p{
  font-size: 50px;
  color: teal;
text-decoration: none;
}
.lines{
  position: absolute;
  top: 10%;
  right: 5%;
  cursor: pointer;
}
.one{
  margin-bottom: 5px;
}
.two{
   margin-bottom: 10px;
}
.lines{
  width: 50px;
  height: 5px;
  background-color: green;
}
.navbar{
   
}

.nav{
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.nav.visible{
  display: flex;
}
.nav.visible + .lines .one{
  transform: rotate(45deg);
  margin-bottom: -5px;
}
.nav.visible + .lines .two{
  transform: rotate(-45deg);

}
.nav.visible + .lines .line{
background-color: crimson !important;
}
.hearder nav p{
  font-size: 50px;
  color: teal;
}
.lines{
  position: absolute;
  top: 10%;
  right: 5%;
  cursor: pointer;
}
.one{
  margin-bottom: 5px;

}
.line{
  width: 50px;
  height: 5px;
  background-color: green;
}